# To store all experiment data locally only.
data/
/.idea/
/experiments/__pycache__/
/experiments/__pycache__/
*.pyc
/experiments/aux_head_data
/experiments/.ipynb_checkpoints/

/experiments/ppo_mine/dd0/checkpoints/
/experiments/ppo_mine/dd0/logs/
/experiments/ppo_mine/dd0/videos/
/experiments/ppo_mine/dd0/__pycache__/
/experiments/ppo_mine/dd0/wandb/
/experiments/ppo_mine/particle_env/checkpoints/
/experiments/ppo_mine/particle_env/logs/
/experiments/ppo_mine/particle_env/videos/
/experiments/ppo_mine/particle_env/__pycache__/
/experiments/ppo_mine/particle_env/wandb/
/experiments/ppo_mine/sisl/checkpoints/
/experiments/ppo_mine/sisl/logs/
/experiments/ppo_mine/sisl/videos/
/experiments/ppo_mine/sisl/__pycache__/
/experiments/ppo_mine/sisl/wandb/

wandb/

/experiments/__pycache__/

__pycache__/
*.egg-info/
*.pyc
